.card {
  padding: 50px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  gap: 8px;
  max-width: 320px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading {
  font-weight: bold;
  font-size: 22px;
  color: #4d4d4d;
}

.iconStyle {
  font-size: 80px;
  color: brown;
}

.iconContainer {
  display: grid;
  justify-content: center;   
  gap: 3px;
}
